body {
  background-color: #f1f5f9;
}

nav {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #ffffff;
  box-shadow: 0 10px 15px -3px rgb(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 300px;
    display: none;
}

ul {
  display: flex;
  list-style: none;
}

li {
  font-family: sans-serif;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 7.5px;
  cursor: pointer;
  font-weight: 500;
}

li:hover {
  color: #4b5563;
}

.signin:first-of-type {
  color: white;
  background-color: rgb(59, 130, 246);
  cursor: pointer;
  border-radius: 7.5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.signin:first-of-type:hover {
  background-color: rgb(37, 99, 235);
}

.blogs {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 30px;
}

@media (min-width: 640px) {
  .blogs {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 768px) {
  .blogs {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .logo{
    display: inline-block;

  }
}

.blog {
  background-color: rgb(255, 255, 255);
}

.blog:hover {
  box-shadow: 0 10px 15px -3px rgb(0, 0, 0, 0.1),
    0 4px 6px -4px rgb(0, 0, 0, 0.1);
}

.blog-info {
  padding: 20px;
}

.blog-img {
  height: 240px;
  width: 100%;
}

.blog-title {
  font-size: 25px;
  line-height: 35px;
  font-weight: 700;
  color: #1f2937;
}

.blog-desc {
  color: #4b5563;
  margin-top: 10px;
}
